@model WebsiteBanHang.Context.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Xóa </h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Brand</h4>
        <hr />

        <dl class="dl-horizontal">

            <dt>
                <label>Tên sản phẩm</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <label>Hình ảnh</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avartar)
            </dd>

            <dt>
                <label>Loại sản phẩm</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                <label>Hiện Trên Trang Chủ</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShowOnHomePage)
            </dd>

            <dt>
                <label>Thứ tự hiển thị</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>

            <dt>
                <label>Ngày tạo</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOnUtc)
            </dd>

            <dt>
                <label>Ngày cập nhật</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedOnUtc)
            </dd>

            <dt>
                <label>Xóa</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
