@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanHang.Context.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Thương Hiệu</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm("Index", "Brand", FormMethod.Get))
    {
        <p>
            Tìm tên sản phẩm:@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" />
        </p>

    }
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
            <tr>
                <th class="text-center" style="width:20px;">
                    Tên sản phẩm
                </th>
                <th class="text-center" style="width:20px;">
                    Hình ảnh
                </th>
                <th class="text-center" style="width:20px;">
                    Loại sản phẩm
                </th>
                <th class="text-center" style="width:20px;">
                    Hiện Trên Trang Chủ
                </th>
                <th class="text-center" style="width:20px;">
                    Thứ tự hiển thị
                </th>
                <th class="text-center" style="width:20px;">
                    Ngày tạo
                </th>
                <th class="text-center" style="width:20px;">
                    Ngày cập nhật
                </th>
                <th class="text-center" style="width:10px;">
                    Xóa
                </th>

                <th class="text-center" style="width:120px;">Chức năng</th>
                <th class="text-center" style="width:20px;">ID</th>
            </tr>

        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/Content/images/items/@Html.DisplayFor(modelItem => item.Avartar)" style="width:100px;height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Brand",new { id = item.Id })" class="btn btn-ms btn-success  "> <i class="fas fa-edit text-white"></i></a>
                    <a href="@Url.Action("Details","Brand",new { id = item.Id })" class="btn btn-ms btn-primary "> <i class="fas fa-eye text-white"></i></a>
                    <a href="@Url.Action("Delete","Brand",new { id = item.Id })" class="btn btn-ms btn-danger "> <i class="fas fa-trash-alt text-white"></i></a>

                </td>
                <td>@item.Id</td>
            </tr>
        }

    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))
</div>